@font-face {
    font-family:  "outer-frontier";
    src: url("outer-frontier.regular.ttf");}
@font-face {
    font-family:"comic crayon demo" ;
    src: url("ComicCrayonDemoRegular.ttf");
}  

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;  
}

body {
    /* background-image:url("galaxybg.gif"); */
    margin: 0;
    padding: 0;
    font-family:"comic crayon demo" ;
    text-align: center;

}
.header{
    background-color: rgb(49, 48, 47);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding:1rem;
    margin: 0;

}

.header i { 
   margin-top: 1rem;
    color: rgb(54, 122, 211);
    height: 80px;
    flex-basis: 10%;
    margin-right: 2rem;

}


    
.header img{
    
    flex-basis: 60%;
   width:350px;
   height: 80px;

    

}

.header h2 {
   color: hwb(209 48% 3%);
   font-family: "outer-frontier";
   font-size: x-large;
   flex-basis: 100%;
   margin-top: 0;
   margin-left: 30px;
}

button{
    font-family:"outer-frontier" ;
    font-size: x-large;
    padding: 10px 20px;
    border: 4px solid blue;
    border-radius: 10px;
    background-color: white;
    color:rgb(113, 150, 224);
    margin-top: 4rem;   
}

button:hover{
    color: navy;
    cursor: pointer;
    background-color: skyblue;
}


    
.hero {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    background-image: url("galaxybg.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    color: goldenrod;
    font-family:"outer-frontier";
    font-size: large;
       
}

.hero-text{
    padding-top: 200px;
    font-size: small;
}
.hero i{
    color: rgb(13, 8, 43);
}

.footer{

    
        margin: 0 auto;
        background-color:  rgb(53, 51, 51);
        width: 100%;
        text-align: center;
        color:rgb(87, 12, 227);
        font-size: 1rem;
        padding: 1rem;
      

}
/* styles for media quary */

@media (min-width:750px){
.hero{
    height: 900px;
}
.hero-text{
    padding-top: 380px;
    font-size: large;
}
}
@media (min-width: 950px) {
    .header i{
        margin-right: 0;
    }
    .header img{
        width: 500px;
    }
    .header h2{
        flex-basis: 80%;
        font-size: xx-large;
        margin-left: 50px;
        
    }
    
    .hero{
        height: 1200px;
    }
    .hero-text{
        padding-top: 500px;
        font-size: x-large;
    }

}
